<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100934073176-357isfn27tcv4iue8epov48hm93vk61k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100934073176-357isfn27tcv4iue8epov48hm93vk61k</string>
	<key>API_KEY</key>
	<string>AIzaSyAW1_f6pZCYX5oI1kuCIQbwueqQVkQNirE</string>
	<key>GCM_SENDER_ID</key>
	<string>100934073176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>stephane-verardo.HamacTrend</string>
	<key>PROJECT_ID</key>
	<string>hamac-trend</string>
	<key>STORAGE_BUCKET</key>
	<string>hamac-trend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100934073176:ios:212a3301d7901bbd3e832d</string>
	<key>DATABASE_URL</key>
	<string>https://hamac-trend.firebaseio.com</string>
</dict>
</plist>